<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h2>Primaria Completa</h2>
            </li>
            <p>
                Escuela Provincial N°7 - Victorica (La Pampa).
            </p>
            
            <li>
                <h2>Secundario Completo</h2>
            </li>
            <p>
                Escuela Provincial Félix Romero - Victorica (La Pampa).
            </p>

            <li>
                <h2>Terciario Inc.</h2>
            </li>
            <p>
                IES Salvador Calafat - General Alvear (Mendoza).
            </p>
            <h1>Cursos:</h1>
            <p></p>
            <li>
                <h2>Sé Programar (Argentina Programa)</h2>
            </li>
            <p></p>
            <li>
                <h2>Programación desde Cero (APX)</h2>
            </li>
            <p></p>
            <li>
                <h2>Fundamentos de Codificación I Y II (Grasshopper)</h2>
            </li>
            <p></p>
            <li>
                <h2>Python (Mimo)</h2>
            </li>
            <p></p>
            <li>
                <h2>SQL (Mimo)</h2>
            </li>
            <p></p>
            <li>
                <h2>Web Development(Mimo)</h2>
            </li>
        </ul>
    </div>
</div>