<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit dolore neque minima beatae doloremque ipsam quos adipisci numquam eveniet fugiat! Tempore a ipsam at minus, deleniti dolorem earum nihil repellat.
            </p>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptate reiciendis maxime distinctio sint quas nihil, nulla ex praesentium quaerat ducimus quibusdam tempora placeat id similique ut eius explicabo quia.
            </p>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit dolore neque minima beatae doloremque ipsam quos adipisci numquam eveniet fugiat! Tempore a ipsam at minus, deleniti dolorem earum nihil repellat.
            </p>
            <li>
                <h1>Trabajo 4</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptate reiciendis maxime distinctio sint quas nihil, nulla ex praesentium quaerat ducimus quibusdam tempora placeat id similique ut eius explicabo quia.
            </p>
        </ul>
    </div>
</div>