<div class="row">
    <div class="infpersonal">
        <img class="img-fluid" src="../../../assets/fotoportfolio.jpg" id="fotodeperfil" alt=""/>
    
        <p id="nombre">Avila Carina Alejandra</p>
        <p>Full Stack Developer Jr</p>
    
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque alias corrupti voluptas veritatis atque nobis odit, inventore ducimus facere provident. Molestias vitae harum porro, sapiente dolor itaque ipsum aspernatur ratione.</p>
        </span>
    </div>
</div>