<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-2 col-md-2 col-lg-4 parte1">
            <h1>Base de Datos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A fuga cupiditate facere nam, temporibus quia esse animi sed, laborum perferendis sit eaque dolorem consequuntur, ipsum odio officia corrupti harum dolore.</p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/basededatos.png" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>