<div class="row">
    <h1 id="proceso-de-aprendizaje">Proceso de aprendizaje</h1>
        <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                 [percent]="85"
                 [radius]="50"
                 [showUnits]="false"
                 [title]="'HTML'"
                 [showSubtitle]="false"
                 [outerStrokeWidth]="8"
                 [innerStrokeWidth]="10"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="300"
                 ></circle-progress>
         </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                 [percent]="85"
                 [radius]="50"
                 [showUnits]="false"
                 [title]="'CSS'"
                 [showSubtitle]="false"
                 [outerStrokeWidth]="8"
                 [innerStrokeWidth]="10"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="300"
                ></circle-progress>
         </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                 [percent]="85"
                 [radius]="50"
                 [showUnits]="false"
                 [title]="'JS'"
                 [showSubtitle]="false"
                 [outerStrokeWidth]="8"
                 [innerStrokeWidth]="10"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="300"
                ></circle-progress>
         </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                 [percent]="60"
                 [radius]="50"
                 [showUnits]="false"
                 [title]="'GitHub'"
                 [showSubtitle]="false"
                 [outerStrokeWidth]="8"
                 [innerStrokeWidth]="10"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="300"
                ></circle-progress>
         </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                 [percent]="50"
                 [radius]="50"
                 [showUnits]="false"
                 [title]="'Inglés'"
                 [showSubtitle]="false"
                 [outerStrokeWidth]="8"
                 [innerStrokeWidth]="10"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="300"
                ></circle-progress>
         </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                 [percent]="100"
                 [radius]="50"
                 [showUnits]="false"
                 [title]="'Group Work'"
                 [showSubtitle]="false"
                 [outerStrokeWidth]="8"
                 [innerStrokeWidth]="10"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="300"
                ></circle-progress>
         </div>
</div>